/************************* utilities  *************************/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
  width: 1.1rem;
}
body::-webkit-scrollbar-track {
  margin-block: 0.5rem;
  border-radius: 1.1rem;
  box-shadow: inset 4px 4px 4px #ccc, inset -4px -4px 4px #ffffff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 1.1rem;
  background: #e6e6e6;
  box-shadow: inset -1px -1px 1px #555555, inset 1px 1px 1px #ffffff;
}
.sp-d-unset {
  display: unset;
}
.sp-max-w-xxl {
  max-width: 1320px;
}
.sp-max-w-md {
  max-width: 744px;
}
.sp-fs-7 {
  font-size: 0.8rem;
}
.sp-rounded {
  border-radius: 1rem;
}
.sp-h-50 {
  height: 50px;
}
.sp-h-25 {
  height: 25px;
}
.interactive-link {
  border-radius: 1rem;
  transition: 0.3s;
  background-color: black;
  box-shadow: 6px 6px 10px #666666, -6px -6px 10px #ffffff;
}
.interactive-link:hover {
  transform: scale(1.03);
  box-shadow: none;
}

/************************* bootstrap overrule  *************************/
.dropdown-item {
  width: auto !important;
}
.btn {
  border: 3px solid transparent;
}
.btn:hover {
  /* outline-offset: -2px;
  outline: 1px solid; */
  box-shadow: inset 0 0 0 2px;
}

/************************* header  *************************/
/* navbar */
.nav-item:hover a {
  color: black !important;
}
nav a.dropdown-toggle::after {
  content: url(../img/chevron-down-solid.svg);
  width: 0.6rem;
  vertical-align: middle;
  border: none;
}
.nav-item:hover a.dropdown-toggle::after {
  content: url(../img/chevron-down-solid-hover.svg);
}
.nav-item:focus-within a {
  color: black !important;
}
.nav-item:focus-within a.dropdown-toggle::after {
  content: url(../img/chevron-up-solid.svg);
}
.search-nav {
  margin-left: 1rem;
  border: none;
  transition: 0.3s;
  border-radius: 0.5rem;
  background: #f8f9fa;
  box-shadow: 5px 5px 18px #636464, -5px -5px 18px #ffffff;
}
.search-nav:hover,
.search-nav:focus {
  transform: scale(1.2);
  box-shadow: none;
}
/* jumbo */
#jumbo-tron {
  padding: 13rem 0 3rem;
  background-image: url(../img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
}
/* jumbo selection */
.sp-btn-card {
  padding: 0;
  border: none;
  background-color: transparent;
}
.sp-card-active {
  opacity: 70%;
  transition: transform 0.4s;
}
.sp-title-card {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  transition: 0.4s;
  opacity: 0;
}
#selection-jumbo-tron button:hover .sp-card-active {
  transform: translateY(-15px);
  opacity: 100%;
  box-shadow: 0 6px 10px 5px rgba(0, 0, 0, 0.2);
}
#selection-jumbo-tron button:active .sp-card-active,
#selection-jumbo-tron button:focus .sp-card-active {
  transform: translateY(-15px);
  opacity: 100%;
  outline-offset: 1px;
  outline: 3px solid #0d6efd;
}

/************************* main  *************************/
/* console */
.console-active {
  opacity: 50%;
  transition: opacity 0.4s;
}
.console-active:hover {
  opacity: 100%;
  box-shadow: inset 0 -2px 0 0 #0d6efd;
}
.console-active:active,
.console-active:focus {
  opacity: 100%;
  color: #0d6efd;
  box-shadow: inset 0 -2px 0 0 #0d6efd;
}

/* advertise */
#advertise {
  padding: 13rem 0 3rem;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
}
/* new release */
.new-release-card {
  transition: 0.2s;
}
.new-release-card:hover {
  transform: scale(0.95);
  outline-offset: 2px;
  outline: 3px solid rgb(255, 255, 255);
}
/* ps-plus */
#ps-plus {
  background-color: #bebcbb;
}

/* ps now */
#ps-now {
  background-color: #161c3b;
}

/************************* footer  *************************/
/* general link */
#link {
  background-color: #00439c;
}
#link ul {
  list-style-type: none;
}
#link li > a {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}
#link li > a:hover {
  text-decoration: underline;
}

/************************* media query  *************************/
@media screen and (min-width: 992px) {
  /* jumbo-tron selection effects */
  #selection-jumbo-tron button:hover .sp-title-card {
    transform: translate(-50%, -10px);
    opacity: 1;
  }
  #selection-jumbo-tron button:active .sp-title-card {
    transform: translate(-50%, -10px);
    opacity: 1;
  }
  #selection-jumbo-tron button:focus .sp-title-card {
    transform: translate(-50%, -10px);
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  /* font-size nav-bar */
  .sp-fs-7 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  /* logo jumbo-tron */
  #jumbo-tron img {
    height: 30px;
  }
  /* adattamento cards */
  #selection-jumbo-tron .col-6,
  #new-release .col-6 {
    width: 100%;
    text-align: center;
  }
}
