/************************* utilities  *************************/
body {
  font-family: "Montserrat", sans-serif;
}
.sp-max-w {
  max-width: 1320px;
}
.sp-fs-7 {
  font-size: 0.8rem;
}
.sp-rounded {
  border-radius: 1rem;
}
.sp-h-50 {
  height: 50px;
}

/************************* header  *************************/
/* jumbo */
#jumbo-tron {
  padding: 13rem 0 3rem;
  background-image: url(../img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/************************* main  *************************/
/* advertise */
#advertise {
  padding: 13rem 0 3rem;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/************************* media query  *************************/
@media screen and (min-width: 1200px) {
  .sp-fs-7 {
    font-size: 1rem;
  }
}
